$color-primary: #00acc1;
$color-secondary: #efefef;

$toolbar-background-color: #393c44;
$toolbar-color: #e9ebed;

$nav-background-medium: #151a24;
$nav-active: #051f54;
$nav-level1: #22262e;
$nav-level2: #383c45;
$nav-level3: #4f545c;
$nav-color-level1: #ffffff;
$nav-color-level2: #cbced1;
$nav-color-level3: #cbced1;

$dialog-header-background: #efefef;
$dialog-header-content-color: #383c45;