/* **********

 */
.ehr-page {

}

/* **********
   *
   */
@import '../../scss/settings/color.scss';

.ehr-page {
  .input-fieldrow {
    display: flex;
  }

  .input-fieldset {
    display: flex;
    flex-direction: column;
  }

  li {
    list-style-type: none;
  }

  label,
  input,
  textarea {
    display: block;
  }
  .label-checkbox, .label-radio {
    display: inline;
    vertical-align: top;
    margin-left: 5px;
  }
  .checkbox, .radio {
    display: inline;
    margin-right: 5px;
  }
    input,
    textarea {
      height: 2rem;
      padding: 5px;
      border: 1px solid $grey20;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 rgba(21, 26, 36, 0.5);
    }
    input {
      height: 2rem;
    }
    textarea {
      height: 6rem;
      width: 100%;
    }

  .input-element {
    margin-right: 20px;
  }

  .input-element:last-child {
    margin-right: 0;
  }

  .input-element-full {
    width: 100%;
  }

  .input-element-small {
    flex: 1 0 5rem;
  }
  .input-element-medium {
    flex: 2 0 15rem;
  }

  .select select {
    background: linear-gradient(180deg, rgba(203, 206, 209, 0.6) 0%, rgba(133, 139, 148, 0.6) 100%);
    box-shadow: inset 0 1px 0 0 $white, 0 1px 2px 0 rgba(21, 26, 36, 0.2);
  }

  .select-element {
    border: 1px solid blue;
  }
  .select {
    display: block;
  }
  .checklistWithOther {
    label {
      display: inline;
    }
    .radio {
      height: 1rem;
    }
  }
}

.column_table {
  .column_label {
    text-align: right;
  }

  .column_value {
    width: 5rem;
  }
}
