@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro");

$bodyFontFamily: 'Source Sans Pro', sans-serif;
$bodyFontSize: 14px;

body {
	color: $grey60;
  font-family: $bodyFontFamily; 
  font-size: $bodyFontSize;
}

h1, h2, h3, h4, h5, h6 {
	color: $grey70;
	font-family: $bodyFontFamily;
	font-weight: semi-bold;
	line-height: 1.2;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 1em;
}

h2 {
	font-size: 24px;
	margin-bottom: .625em;
}

h3 {
	font-size: 20px;
	margin-bottom: .5em
}
