doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/edehr.css')
    link(rel='stylesheet', href='/stylesheets/edehr.css')
    link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Open+Sans', type='text/css')

    script(src='/javascript/lti.js')
  body
    block content

    block dynamic
